# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Antonia's personal archive\2021-2022\Sem 2\TP\TEMA 3\pt-layered-architecture-master\src\main\PT2022_302210_Cociubei_Antonia_Rahela_Asignment_3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
